extends layout

block content
  h1= title
  form(method="POST" action="/new")
    input(type="text" name="text" placeholder="What's on your mind?")
    input(type="text" name="user" placeholder="Your name")
    button="Send"