body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #EAEDED;
  margin: 0 auto;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  width: 250px;
  height: 50px;
  border-radius: 100px;
  box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);
  padding: 2px 8px;
  cursor: pointer;
  font-size: 16px;
  background-color: #FFD814;
  border: 1px solid #FCD200;
  color: #0F1111;
  transition: all 0.2s ease-out;
}

button:hover {
  background-color: #F7CA00;
  border-color: #F2C200;
}

button:active {
  background-color: #F0B800;
  border-color: #008296;
  box-shadow: 0 0 0 3px #c8f3fa, inset 0 0 0 2px #fff;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  margin: 0 auto;
}

input {
  height: 40px;
  width: 300px;
  border-radius: 5px;
  padding: 2px 8px;
  font-size: larger;
}

.messages {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.message {
  border: 1px solid black;
  padding: 8px;
  border-radius: 5px;
  background-color: white;
}

.user {
  font-style: italic;
  font-size: 15px;
}


